.eprotable{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
        margin: auto;
    text-align: center;
    margin-top: 10%;
    color: white;
    border: solid black 1px;
    width: 60%;
    height: 35vh;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.eprotd{
    border: solid black 1px
}
/* .eproth{
border: solid whitesmoke 2px;
} */