.Eb{
    background-image: url("../Assert/emp.png");
    color: azure;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: fantasy;
}
#neon
{
 color: #c6e2ff;
 text-shadow: 0 0 2px rgba(202, 228, 225, 0.92),
     0 0 10px rgba(202, 228, 225, 0.34), 0 0 4px rgba(30, 132, 242, 0.52),
     0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78),
     0 0 16px rgba(30, 132, 242, 0.92);
}
.Econtent
{
    margin-bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:3%;
    font-size: 1.2em
}
.Elist
{
    margin-left:10%;
    margin-right: 10%;
}
.Efooter
{
    margin-top: 5%;
    margin-right: 40%;
}
.Enav
{
    display: flex;
}
.Enav1
{
    float: left;
    /* position:'relative'; */
    top:'-10px';
    margin-left: 30px;
}
.Enav2
{
    float: right;
    margin-left: 280px;
    margin-bottom: 20px;
    margin-top: 30px;
    /* position:'relative'; */
    top:'-10px';
    font-family: Arial, sans-serif;
    font-size: 20px;
 }
.Enav-tabs
{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
    width: 70vw;
    justify-content: end;
}
.Elink-active
{
    color: rgb(120, 120, 120);
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.Elink-active:hover
{
    background-color:darkgray;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
